@charset "utf-8";
/* CSS Document */

:root{
    --vh: 1vh;
}



@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Kezdeti és végpont: alaphelyzet */
  }
  50% {
    transform: translateY(-20px); /* Középen: 20px-t feljebb ugrik */
  }
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.red-hat-text-font {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ballet-font {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 200;
  font-style: normal;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
    scroll-behavior: smooth;
   
	}
/*---------------------------------------------------------------------------------STANDARD-----------------------------------------------------------------------*/	
body{
	position: fixed;
	width: 100vw;
    min-height: calc(var(--vh) * 100);
	transition: all 0.3s ease;
    background: black;
	}


	.social-icon img {
    width: 30px; /* Az ikonok szélessége a bar szélességének megfelelően */
    margin-right: 25px; /* Függőleges térköz az ikonok között */
    transition: transform 0.3s; /* Animáció a hover effektushoz */
	z-index: 1;
		
}
	
	.social-icon img:hover {
	box-shadow: 0 0 40px #A16FDE;
	border-radius: 40px;
    transform: scale(1.1); /* Ikonok nagyítása hover esetén */
}


.socialmedia-bar-2{
	position: absolute;
	top: 3vh;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	z-index: 1;
	}


/*----------------------------------------------------PHOTO SECTION-----------------------------------*/

#photographer-page {

transition: opacity 0.5s ease;
background: #180533;
background: linear-gradient(286deg, rgba(24, 5, 51, 1) 56%, rgba(0, 0, 0, 1) 100%);
width: 100vw;
height: 100vh;
z-index: 1;
font-family: "Red Hat Text", sans-serif;
}

.top-bar{  
  position: absolute;
  width: 100vw;
  height: 10vh;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(1px); /* homályosítja a mögöttes tartalmat */
  -webkit-backdrop-filter: blur(1px); /* Safari kompatibilitás */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* vékony „üveg szegély” */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* finom árnyék */
  padding: 20px 40px;
  display: flex;           /* flex layout */
  align-items: center;     /* vertikálisan középre */
  justify-content: space-between; /* ha vannak jobb és bal oldali menük */
  z-index: 1;
    
}

.logo-photo {
  position: fixed;
  top: -3vh;
  left: 1vw;
  width:  170px;
  height: auto;
  aspect-ratio: 1 / 1;
  background-image: url("photologo3.png");
  background-size: cover;
  background-position: center;
  z-index: 99999;
  opacity: 1;
  border-radius: 50%;

  
}

.logo-background {
  background: linear-gradient(45deg, rgba(255,0,150,0.6), rgba(0,204,255,0.6));
  padding: 10px;
  border-radius: 6px;
  backdrop-filter: blur(5px); /* kicsit elhomályosítja a mögöttes tartalmat */
  z-index: -1;
}



.slider{

    height: 100vh;
    margin-top: -50px;
    position: relative;
	cursor: grab;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 10%, transparent
    );
}


.slider .list .item .content-galery{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    width: 500px;
    max-width: 80%;
	z-index: 9999;
    aspect-ratio: 16/9;
   
	
 
}

.slider .list .item .content-galery p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
	
}
.slider .list .item .content-galery h2{
    font-size: 80px;
    margin: 0;
	color: white;
}

.slider .list .item .content-galery p{
    font-size: 20px;
    margin: 0;
	color: white;
    
}
.slider .list .item.active{
    opacity: 1;
  
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
	
}
.slider .list .item.active h2{
    animation-delay: 1s;
	color: white;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    justify-content: center;
	align-content: center;
	align-items: center;
	bottom: -3vh;
    z-index: 99999;
	display: flex;
	gap: 50px;
	left: 50%;
    transform: translateX(-50%);
}
.arrows button{
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

#prev{
	background-image: url("left-thin.png");
	background-size: cover;
}

#next{
	background-image: url("riht-thin.png");

	background-size: cover;
}
.arrows button:hover{
    background-color: rgba(142,142,142,0.56);
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 2px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
	
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
	
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.2);
	

}
.thumbnail .item .content-galery{
    position: absolute;
    inset: auto 10px 10px 10px;
	color: white;
	margin: 0 auto;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 1.1rem;
}



.photo-about-me{
	position: right;
	
}


.felipa-regular {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}


.flagch{
	display: inline-block;
	position: absolute;
	top: -15vh;
	width: 350px;
	height: 200px;
	background-image: url("chflag.png");
	background-size: cover;
	background-position: center;
	z-index: -1;
    
}

.flagen{
    display: inline-block;
	position: absolute;
	top: -16vh;
	width: 250px;
	height: 150px;
	background-image: url("flagen.png");
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.flagnl{
	display: inline-block;
	position: absolute;
	left: -30px;
	top: -15vh;
	width: 350px;
	height: 200px;
	background-image: url("nlflag.png");
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.flagbe{
	display: inline-block;
	position: absolute;
	left: -30px;
	top: -10vh;
	width: 350px;
	height: 200px;
	background-image: url("flagbe.png");
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.flaghu{
	display: inline-block;
	position: absolute;
	left: -30px;
	top: -17vh;
	width: 350px;
	height: 200px;
	background-image: url("flaghu.png");
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.flagslv{
	display: inline-block;
	position: absolute;
	left: -30px;
	top: -17vh;
	width: 400px;
	height: 200px;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cb/Flag-map_of_Slovakia.svg");
	background-size: cover;
	background-position: center;
	z-index: -1;
}



.journey-start-button {
 --color: #1DC2BF;
 --color2: rgb(10, 25, 30);
 padding: 1em 0.1em;
 background-color: transparent;
 border-radius: 6px;
 border: .1px solid var(--color);
 transition: .5s;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 text-transform: uppercase;
 color: var(--color);
 top: -40vh;
	left: 50%;
	transform: translateX(-50%);
	font-size: 10px;
}

.journey-start-button::after, .journey-start-button::before {
 content: '';
 display: block;
 height: 100%;
 width: 100%;
 transform: skew(90deg) translate(-50%, -50%);
 position: absolute;
 inset: 50%;
 left: 25%;
 z-index: -1;
 transition: .5s ease-out;
 background-color: var(--color);
}

.journey-start-button::before {
 top: -50%;
 left: -25%;
 transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.journey-start-button:hover::before {
 transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.journey-start-button:hover::after {
 transform: skew(45deg) translate(-50%, -50%);
}

.journey-start-button:hover {
 color: var(--color2);
}

.journey-start-button:active {
 filter: brightness(.7);
 transform: scale(.98);
}

.journey-start-button a{
	font-size: 0.8rem;
	text-align: center;
	margin: 40px;
	color: white;
	text-decoration: none;


}

.journey-start-button a:hover{
    color: black;
    }
.gallery-modal {
  display: none; 
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 68%, rgba(66, 61, 61, 1) 94%);
  justify-content: center;
  align-items: center;
    
    
}

.gallery-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vw; /* növelheted, hogy ne vágja le a képeket */
  height: 70vh;
  display: flex;
  align-items: center;
  gap: 20px;

}

.gallery-content img {
  max-height: 90vh;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  transition: transform 0.6s ease, opacity 0.6s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform-origin: center center;
}


.gallery-content button {
  background: none;
  border: none;
  font-size: 3rem;
  color: rgba(11,199,143,1.00);
  cursor: pointer;
}

.gallery-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-caption {
  margin-top: 10px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  max-width: 80vw;
  font-family: "Red Hat Text", sans-serif;
}

.close-gallery {
  position: absolute;
  bottom: 20px;
  right: 40px;
  font-size: 3rem;
  color: rgba(11,199,143,1.00);
  cursor: pointer;
  z-index: 2;
}
.gallery-thumbnails {
  position: absolute;
  right: 0;
  top: 2.5vh;
  z-index: 1;
  overflow-y: auto;
  width: 20vw;     /* ne legyen túl nagy */
  height: 90vh;    /* magasabb, hogy több thumb elférjen */
  background: rgba(0,0,0,0.6); /* hogy kiemelkedjen a háttérből */
  border-radius: 10px;
  display: grid;
  -webkit-overflow-scrolling: touch;
}

.gallery-thumbnails ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gallery-thumbnails li {
  margin-bottom: 5px;
}
.gallery-thumbnails img {
  display: block;   /* szünteti az inline space-t */
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  transition: border 0.3s;
  
}

/* --- Csúszás animáció --- */
.slide-in-right {
  animation: slideRight 0.6s forwards;
}
.slide-in-left {
  animation: slideLeft 0.6s forwards;
}
@keyframes slideRight {
  from { opacity: 0; transform: translateX(500px); }
  to   { opacity: 1; transform: translateX(0); }
}
@keyframes slideLeft {
  from { opacity: 0; transform: translateX(-500px); }
  to   { opacity: 1; transform: translateX(0); }
}



/*---------------------------------------------------------------------------MEDIA QUERYS---------------------------------------------------------------*/
@media (max-width: 1450px) {
	
  .gallery-thumbnails ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  right: 0;
  overflow: auto;

}
.gallery-thumbnails {
  position: absolute;
  right: 2vw;
  top: 2.5vh;
  z-index: 1;
  width: 12vw;     /* ne legyen túl nagy */
  height: 100vh;    /* magasabb, hogy több thumb elférjen */
  overflow-y: auto; /* görgethető, ha több van */
  background: rgba(0,0,0,0.6); /* hogy kiemelkedjen a háttérből */
  border-radius: 10px;
}
   

	.logo-photo{
		margin-left: 5vw;
		}
		}

@media (max-width: 1150px) {

 
    .gallery-content {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 90vw; /* növelheted, hogy ne vágja le a képeket */
  height: 70vh;
  display: flex;
  align-items: center;
  gap: 20px;
        
}
    
}



@media (max-width: 970px){

	.social-icon{
		width: 20px;
		height: 20px;
		padding: 20px;
	}
    	.logo-photo{
		left: 50%;
		transform: translatex(-50%);
		top: -5vh !important;
	}
	}




@media (max-width: 400px) {
	.background{
		background-size: 95% !important;
	
		margin-top: 50px !important;
	}
	}



@media screen and (max-width: 650px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content-galery h2{
        font-size: 50px;
		
    }
    
    .content-galery{
        margin-top: 10vh;
    }
   
}


/*---------------------------------------------------------------------------------PHOTO MEDIA QUERYS----------------------------------------------------------------------*/

@media (max-width: 1000px){
	.flagch{
		width: 220px!important;
		height: 160px !important;
	}
	
	.flagnl{
		width: 200px!important;
		height: 160px !important;
	}
	.flagbe{
		width: 250px!important;
		height: 160px !important;
	}
	.flaghu{
		width: 230px!important;
		height: 160px !important;
		margin-top: 20px !important; 
	}
	
	.flagslv{
		width: 220px!important;
		height: 100px !important;
		margin-top:50px !important;
	}

	
	.slider .list .item .content-galery p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
	font-size: 10px;
	
}
}

@media (max-width: 600px){
	.flagch{
		width: 100px!important;
		height: 60px !important;
		margin-top: 10vh !important;
	}
	
    	.flagen{
		width: 100px!important;
		height: 60px !important;
		margin-top: 10vh !important;
	}
	.flagnl{
		width: 100px!important;
		height: 60px !important;
		margin-top: 10vh !important;
	}
	.flagbe{
		width: 100px!important;
		height: 60px !important;
		margin-top: 5vh !important;
	}
	.flaghu{
		width: 100px!important;
		height: 60px !important;
		margin-top: 10vh !important;
	
	}
	
	.flagslv{
		width: 100px!important;
		height: 60px !important;
		margin-top: 10vh !important;
		
	}
	
	.logo-photo{
		width: 150px !important;
		height:150px !important;
        margin-left: 4vw !important;
        margin-top: 2vh;
		
		
	}
	
	.back-button{
		right: 45%;
        transform: translateY(-45%);
		margin-top: 94vh !important;
		
	}
	
	.social-icon img {
		width: 20px !important;
	}
    
    .social-icon span img{
        width: 26px !important;
        height: 26px !important;
        margin-top: -1px !important;
    }

.thumbnail .item{
    width: 120px;
    height: 150px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
	
}

.thumbnail{
	top: 80vh;
}

	.slider .list .item::after{
		
	 background-image: linear-gradient(
        to top, #000 10%, transparent );
   
}
	
	.arrows{
		position: absolute;
		bottom: -5vh !important;
	}
    
    .socialmedia-bar-2{
        position: fixed;
        display: flex;
        left: 0;
        margin-top: 5vh;
        text-align: center;
        justify-content: center;
        align-content: center;
        
	}
    
    .journey-start-button {
        width: 150px;
        height: 30px;
    }
    
    .journey-start-button a{
        
        font-size: 10px;
    }
    
    .a{
        width: 50px;
        height: 50px;
        background: red;
        
    }
    
    #prev{
        width: 30px;
        height: 30px;
    }
    
    #next{
        width: 30px;
        height: 30px;
    }

 .gallery-thumbnails img {
        width: 50px;
        height: 50px;
        position: absolute;
        grid-template-columns: repeat(3, 2fr);
        gap: 20px;  
      
    }
    
  .gallery-thumbnails {
  right: 0;
  z-index: 1;
  width: 100vw;     /* ne legyen túl nagy */
  height: 10vh;    /* magasabb, hogy több thumb elférjen */
  overflow: scroll; /* görgethető, ha több van */
  background: rgba(0,0,0,0.6); /* hogy kiemelkedjen a háttérből */
  border-radius: 10px;
  display: grid;
     
}
    
   .gallery-thumbnails ul {
    display: flex;           /* flexbox használata */
    flex-direction: row;     /* elemek vízszintes sorban */
    flex-wrap: nowrap;       /* ne törjön új sorba */
    justify-content: center; /* középre igazítás vízszintesen */
    align-items: flex-start; /* tetejére igazítás függőlegesen */
    gap: 10px;  
    height: 20vh;
    overflow: auto;
    position: absolute;
  }

    .slider .list .item .content-galery p{
    font-size: 15px;
    margin: 0;
	color: white;

 }  
     } 